div.container
{
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 200%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
}

div.show
{
    display: block;
}

div.noshow
{
    display: none;
}

p
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
    text-align: center;
    font-size: 400%;
    color: DeepPink;
}

a
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 150%;
    padding: 10px;
}

input[type="text"] {
    height: 50px;
    width: 200px;
}
